body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f8;
}

.container {
  text-align: center;
  padding: 80px;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

/* Boxes */

.box {
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.box:hover {
  background: #1976d2;
  color: white;
  transform: translateY(-5px);
}

/* TODo App */
.todo-container {
  width:300px;
  margin: 80px auto;
  background: #ec9f9f;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(103, 101, 212, 0.1);
  text-align: center;
}
.todo-title {
  margin-bottom: 20px;
  color: #1976d2;
}

/* From validation App */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}
.form-container h2{
  text-align: center;
  margin-bottom: 100px;

}
.form-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 550px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
input {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #1976d2;
}
.form-btn {
  width: 60%;
  padding: 10px;
  border: none;
  background: #0b9299;
  cursor: pointer;
}
button:hover {
  background: #00f2fe;
}
.error {
  color: red;
  font-size: 13px;
  margin: 5px 0;
}